﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <!-- ngView:  --><div data-ng-view="" class="ng-scope">
            <form role="form" class="ng-scope ng-pristine ng-invalid ng-invalid-required">
                <div class="row">
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <h2 class="form-login-heading">Login</h2>
                        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Username" data-ng-model="loginData.userName" required="" autofocus="">
                        <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Password" data-ng-model="loginData.password" required="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-model="loginData.useRefreshTokens" class="ng-pristine ng-valid"><strong> Use Refresh Tokens</strong>
                            </label>
                        </div>
                        <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                        <div data-ng-hide="message == ''" class="alert alert-danger ng-binding ng-hide">

                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>
