﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        <div>
            Start Page
            @Html.ActionLink("Sign In", "SignIn", "Account");
        </div>
    </body>
</html>
