﻿
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>

@section scripts
{
    <!--Load Account application MAIN script-->
    <script src="../../angularJSApp/components/account/accountApp.js"></script>
    
    <!-- Load services -->
    <script src="../../angularJSApp/components/account/accountService.js"></script>
        
    <!--Load Account controller script-->
    <script src="../../angularJSApp/components/account/controllers/accountSignupController.js"></script>
    <script src="../../angularJSApp/components/account/controllers/accountLoginController.js"></script>
}
