﻿@model List<Levl.ChatClientAppASPNet.Models.Room>


<h2>Rooms</h2>
    
@foreach (var room in Model)
{
    <div>@room.Name</div>
}

@section scripts
{
    <script type="text/javascript" src="../../Scripts/AngularJSApp/ChatApp.js"></script>
}
